{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ user.username }}</h1>

    {% if app.user and app.user.id == user.id %}
        <a href="{{ path('user_edit_profile', {'username': app.user.username}) }}">Éditer profil</a>
    {% endif %}

    <div>
        <p>Bio:</p>
        <p>{{ user.bio }}</p>
    </div>

    <h1>Votes:</h1>
    {% for r in user.reactions %}
        Vote: {{ r.reaction }} <br>
        Submission: <a href="{{ path('user_see_submission', {'submission_id': r.fileSubmission.id, 'slug': r.fileSubmission.slug}) }}">{{ r.fileSubmission.title }}</a>  <br>
        ----
    {% endfor %}

    <p>Karma: <span>{{ user.karma }}</span></p>

    {%  for s in user.fileSubmissions %}
        <h2>{{ s.title }}</h2>
        {% if s.state in ['default', 'verified'] or is_granted('ROLE_ADMIN') or app.user == user %}
            <a href="{{ path('user_see_submission', {'submission_id': s.id, 'slug': s.slug}) }}">See</a>
        {% endif %}

        {% if s.state == 'deleted' %}
            Deleted
        {% elseif s.state == 'banned' %}
            Banned
        {% elseif user == app.user %}
            <a href="{{ path('user_edit_submission', {'submission_id': s.id}) }}">Edit</a>
            <a href="{{ path('user_delete_submission', {'submission_id': s.id}) }}">Delete</a>
        {% elseif is_granted('ROLE_ADMIN') %}
            <a href="{{ path('user_edit_submission', {'submission_id': s.id}) }}">Edit</a>
        {% endif %}
    {% endfor %}
{% endblock %}
