{# templates/registration/register.html.twig #}

{% extends 'base.html.twig' %}

{% block head %}
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="69926499564-ahrpirp0anl3fjlqlppkmq53ou2tkobk.apps.googleusercontent.com">
{% endblock %}

{% block body %}
    <h2>Register With Google</h2>
    {% if error is defined %}
        {{ error }}
    {% endif %}
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <form action="{{ path('user_register_google_callback') }}" method="post" id="google-form" hidden>
        <input name="username" placeholder="IPFS username" required="required" minlength="2" maxlength="25"/>
        <input type="hidden" name="google-jwt" id="google-jwt" />
        <button type="submit">{{ 'register.registerButton' | trans }}</button>
    </form>
    <a href="#" onclick="signOut();">Sign out</a>
    <br />

    <h2>Register with email</h2>
    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

        <button type="submit">{{ 'register.registerButton' | trans }}</button>
    {{ form_end(form) }}
{% endblock body %}

{% block javascripts %}
    <script>
        function onSignIn(googleUser) {
            const profile = googleUser.getBasicProfile();
            const jwt = googleUser.getAuthResponse().id_token;
            console.log(profile);
            console.log(googleUser.getAuthResponse().id_token);
            document.getElementsByClassName('g-signin2')[0].setAttribute('hidden', 'hidden');
            document.getElementById('google-form').removeAttribute('hidden');
            document.getElementById('google-jwt').setAttribute('value', jwt);
        }

        function signOut() {
            let auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }
    </script>
{% endblock %}