{% extends 'base.html.twig' %}

{% block body %}

    <a href="{{ path('admin_edit_categories') }}">Edit categories</a>
    <a href="{{ path('admin_submissions_listing') }}">See all submissions</a>

{% endblock %}