{% extends 'base.html.twig' %}

{% block body %}

    {% for s in submissions %}
        <h3><a href="{{ path('user_see_submission', {'submission_id': s.id, 'slug': s.slug}) }}">{{ s.title }}</a></h3>
        <a href="{{ path('user_consult_profile', {'username': s.submitter.username}) }}">{{ s.submitter.username }}</a>
        Status: {{ s.state }}
        <hr />
    {% endfor %}

{% endblock %}