{# templates/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}

{% extends 'base.html.twig' %}

{% block head %}
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="69926499564-ahrpirp0anl3fjlqlppkmq53ou2tkobk.apps.googleusercontent.com">
{% endblock %}

{% block body %}
    <h2>Login with Google</h2>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <form action="{{ path('user_login_google') }}" method="post" id="google-form" hidden>
        <input type="hidden" name="google-jwt" id="google-jwt" />
        <input type="submit" />
    </form>

    <h2>Email login</h2>
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('user_login') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />

        {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}

        <button type="submit">login</button>
    </form>

{% endblock %}

{% block javascripts %}
<script>
    function onSignIn(googleUser) {
        const profile = googleUser.getBasicProfile();
        const jwt = googleUser.getAuthResponse().id_token;
        console.log(profile);
        console.log(googleUser.getAuthResponse().id_token);
        //document.getElementsByClassName('g-signin2')[0].setAttribute('hidden', 'hidden');
        document.getElementById('google-form').removeAttribute('hidden');
        document.getElementById('google-jwt').setAttribute('value', jwt);
    }
</script>
{% endblock %}