{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit categories</h1>
    {% for form in cat_forms %}
        {{ form_start(form) }}
        {{ form_row(form) }}
        {{ form_end(form) }}
    {% endfor %}
{% endblock %}