{% extends 'base.html.twig' %}

{% block body %}

    <h1>Soumission</h1>
    {{ dump(submission) }}

    {% if submission.state in ['deleted', 'banned'] %}
        <h3>{{ submission.moderatorsComments }}</h3>
        Cette publcation n'est visible plus que par vous même
    {% elseif submission.state == 'verified' %}
        Bien vu, hash validé manuellement
    {% endif %}

    {% if app.user %}
        {% if app.user.getUpvote(submission) %}
            <a href="{{ path('user_upvote_submission', {'submission_id': submission.id}) }}">Dé-upvoter</a>
        {% else %}
            <a href="{{ path('user_upvote_submission', {'submission_id': submission.id}) }}">Upvoter</a>
        {% endif %}
        -
        {% if app.user.getDownvote(submission) %}
            <a href="{{ path('user_downvote_submission', {'submission_id': submission.id}) }}">Dé-downvoter</a>
        {% else %}
            <a href="{{ path('user_downvote_submission', {'submission_id': submission.id}) }}">Downvoter</a>
        {% endif %}
        -
        {% if app.user.getReport(submission) %}
            <a href="{{ path('user_report_submission', {'submission_id': submission.id}) }}">Supprimer mon report</a>
        {% else %}
            {{ form(report_form) }} {# Action page is user_report_submission #}
        {% endif %}
    {% else %}
        Connectez-vous pour voter
    {% endif %}

    <h1>Actions</h1>
    {% if submission.state not in ['deleted', 'banned'] %}
        {# Someone please do something smart here #}
        {% if submission.submitter == app.user %}
            <a href="{{ path('user_delete_submission', {'submission_id': submission.id}) }}">Delete</a>
            <a href="{{ path('user_edit_submission', {'submission_id': submission.id}) }}">Edit</a>
        {% elseif is_granted('ROLE_ADMIN') %}
            <a href="{{ path('user_edit_submission', {'submission_id': submission.id}) }}">Edit</a>
        {% endif %}

    {% endif %}

{% endblock %}