{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.hash) }}
        {{ form_row(form.summary) }}
        {{ form_row(form.description) }}
        {{ form_row(form.category) }}
        {%  if is_granted('ROLE_ADMIN') %}
            {{ form_row(form.state) }}
        {% endif %}
        {{ form_row(form.save) }}
    {{ form_end(form) }}

{% endblock %}