{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form, {'attr': {'action': app.request.pathinfo}}) }}
        {{ form_row(form.query, {'value': app.request.get('query')}) }}

        <!-- Below controls should be hidden, and shown when the user desires to make and advanced search -->
        {{ form_row(form.category, {'value': app.request.get('category')}) }}
        {{ form_row(form.verifiedOnly, {'checked': app.request.get('verifiedOnly') == '1' }) }}
        {{ form_row(form.save) }}
    {{ form_end(form) }}

    {{ dump(results) }}
    
{% endblock %}