{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page d'accueil</h1>

    <form method="get" action="{{ path('search_results') }}">
        <input type="search" name="query" />
        <input type="submit" value="Go"/>
    </form>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('user_consult_profile', {'username': app.user.username}) }}">Mon profil</a>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_landing') }}">Page admin</a>
    {% endif %}


    <a href="{{ path('user_registration') }}">S'inscrire</a>
    <a href="{{ path('user_login') }}">Login</a>
    <a href="{{ path('user_logout') }}">Logout</a>
    <a href="{{ path('user_create_file_submission') }}">Submit</a>
{% endblock %}
